/* .carousel__image{
   object-fit: contain;
   width: 100%;
} */
.carousel-control-prev-icon {
    position: absolute;
    top: 100px;
    left: 20px;
}

.carousel-control-next-icon {
    position: absolute;
    top: 100px;
    right: 20px;
    /* height: 50px !important; */
    background-size: 68px 52px;
    width: 34px !important;
    height: 52px !important;
    outline: 0;
}
